<div id="<%= dom_id course %>">
  <p>
    <strong>Code:</strong>
    <%= course.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

</div>
