<p style="color: green"><%= notice %></p>

<div class="table-responsive">
  <h2>Courses</h2>
  <% if can?(:create, Course)%>
      <%= link_to "New Course", new_course_path, class: "btn btn-success mt-2 mb-2" %>  
  <%end%>
  <%= link_to "Search Course", search_courses_path, class: "btn btn-secondary mt-2" %> 
</div>

<div class="table-responsive">
  <%= render "courses_table" %>
</div>
